
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>publicationDate</th>
        <th>Enabled</th>
        <th>Authors</th>
    </tr>
    {%for bb in b %}
        <tr>
            <td>{{bb.id}}</td>
            <td>{{bb.title}}</td>
            <td>{{bb.publicationDate|date}}</td>
            <td>{{bb.enabled}}</td>
            <td>{{bb.authors.username|upper}}</td>
            <td>
                <form action="{{path('Det',{'id':bb.id})}}">
                    <input type="submit" value="Details">
                </form>
            </td>
            <td>
                <form action="{{path('Up',{'id':bb.id})}}">
                    <input type="submit" value="Update">
                </form>
            </td>
            
        </tr>
    {%endfor%}
</table>